<header class="header">
			<div class="top clearfix">
				<a href="#section8" class="available"><i class="ion-ios-email-outline"></i><span>Contate-me agora</span></a>
			</div> <!-- end .top -->
			<div class="bottom clearfix">
				<div class="title"><a href="index.html">789 bits</a></div>
				<a href="" class="responsive-menu-open">Menu <i class="fa fa-bars"></i></a>
				<nav class="main-nav">
					<ul class="list-unstyled">
                        <li class="active"><a href="#section1">INÍCIO</a></li>
                        <li><a href="#section2">DADOS PESSOAIS</a></li>
                        <li><a href="#section3">PROFISSIONAL</a></li>
                        <li><a href="#section4">IDIOMAS</a></li>  
                        <li><a href="#section5">HOBBIES</a></li>
                        <li><a href="#section6">SOCIAL</a></li>
					</ul>
				</nav> <!-- end .main-nav -->
			</div> <!-- end .bottom -->
		</header> <!-- end .header -->