<header class="header">
			<div class="top clearfix">
				<a href="#section8" class="available"><i class="ion-ios-email-outline"></i><span>Contate-me agora</span></a>
			</div> <!-- end .top -->
			<div class="bottom clearfix">
				<div class="title"><a href="index.html">789 bits</a></div>
				<a href="" class="responsive-menu-open">Menu <i class="fa fa-bars"></i></a>
				<nav class="main-nav">
					<ul class="list-unstyled">
                        <li class="active"><a href="#section1">INÍCIO</a></li>
                        <li><a href="#section2">DADOS PESSOAIS</a></li>
                        <li><a href="#section3">PROFISSIONAL</a></li>
                        <li><a href="#section4">IDIOMAS</a></li>  
                        <li><a href="#section5">HOBBIES</a></li>
                        <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							SOCIAL
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="#" class="fa fa-linkedin"></a>
							<a href="#" class="fa fa-facebook"></a>
							<a href="#" class="fa fa-instagram"></a>
							<a href="#" class="fa fa-youtube"></a>
							</div>
						</li>
					</ul>
				</nav> <!-- end .main-nav -->
			</div> <!-- end .bottom -->
		</header> <!-- end .header -->