
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

main{
    margin-top: -20px;
    height: 3000px;

}

header {
    box-shadow: 0 8px 6px rgba(0,0,0,.3);
    text-transform: uppercase;
    position: fixed;
    width: 95%;
    min-width: 890px;
    height: 65px;
    background: #fff;
    line-height: 70px;
    padding: 0 60px;
    color: #232323;
    font-weight: 500;
    z-index: 10;
    margin-bottom: 10px;
}

header .title {
    font-family: 'Press Start 2P', cursive;
    float:left;
    position: relative;
}


.main-nav {
    margin-top: 5px;
    margin-right: 20px;
    min-width: 670px;
    position: relative;
    float: right;
    
}

.main-nav ul li {
    margin-bottom: 0;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    padding: 0 10px;
    line-height: 20px;
    height: 30px;
    border-bottom: 10px solid transparent;
}

.main-nav ul li a{
    text-decoration: none;
}

.main-nav ul>li a:hover {
    border-bottom: 5px solid #7c4dff;
    text-decoration: none;
}
.main-nav ul>li.active a {
    border-bottom: 5px solid #7c4dff;
    text-decoration: none;
}

#content {
    padding-top:100px;
    display: block;
	height: auto;
	position: relative;
	word-wrap: break-word;
    background-color: #fdfdfd;
    width: 80%;
}

.sections{
    
    margin: 0 ,auto;
}

.container{
    
    clear: both;
}

.left-content{
    width:45%;
    float: left;
    text-align: right;
}

.right-content{
    width:45%;
    float: right;
}

.home-text {
    width: 50%;
}

 /* .sections img {
    float: right;
    position: fixed;

}

.sections p {
    text-align: right;
    float: left;
} */

.button {
    font-weight: 500;
    text-transform: uppercase;
   }
.button:hover {
    text-decoration: none;
}
.button i {
    font-size: 24px;
    vertical-align: middle;
}
.button.icon-left i {
    margin-right: 12px;
}
.button.icon-right i {
    margin-left: 12px;
}
.button-row {
    margin-top: 48px;
}
.button-row .button {
    margin-bottom: 12px;
}